@(acceptanceForm: Form[Acceptance])
@import helper._
@main("What ya want to do?") {
@form(action = routes.Application.accept()) {
<fieldset>
@inputText(acceptanceForm("name"), '_label -> "Your name")
</fieldset>
<fieldset>
  <legend>When are you available?</legend>
  <p>Maybe it's Thursday, maybe Friday..</p>
  @repeat(acceptanceForm("availabilities")) { availability =>
  <input type="hidden" name="@availability("date").name" value="@availability("date").value">
  @checkbox(availability("available"), '_label -> availability("date").value)
   }
</fieldset>
<button type="submit" name="save" value="save">Save</button>
}
}

